h1 { color: #c4e6ff}
h1 { color: #e69598}
h1 { color: #cb2c31}
h1 { color: #85bdde}
h1 { color: #ccebfb}



html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    background-color: white;
  }
  
  h1, h2, h3, h4, p {
    color: #85bdde;
  }
  
  h1 {
    font-size: 4.8em;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  
  h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.4em;
  }
  
  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.76em;
    font-style: italic;
  }
  
  p {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
  }

  li {
    font-size: 1.6rem;
    color:#cb2c31;
  }
  .footertext p {
    font-size: .8rem;
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    text-align: center;
    padding: .8rem 1rem;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-style: italic;
    color: #85bdde;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #c4e6ff;
  }
  
  ul.topnav li a.active {
    background-color: #e69598;
    color: white
  }
  
  .submitBtn {
    display: block;
    border: none;
    background-color: #85bdde;
    color: #ccebfb;
    border-radius: 1rem;
    padding: .75rem;
    margin: 2rem auto;
    width: 96%;
    max-width: 22rem;
    box-shadow: 10px 10px 30px #ccebfb;
  }
 
  .motto h1, .motto h3 { 
    color:#727272;
  }

.motto  {
  background-image: url("../images/dallas-temple-lds-1600.jpeg");  
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid-gallery {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(4, .75fr);
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: #85bdde;;
  padding: 1rem;
}

.grid-item-gallery {
  background-color: #e69598;
  border: 1px solid black;
  padding: 0;
  font-size: 30px;
  text-align: center;
}

.grid-item-gallery img {
  margin: .25rem;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.grid-item-gallery:hover {
  box-shadow: 0 0 50px #727272;
}


/*--------------------form------------------------------*/

form {
  display:flex;
  flex-flow: row wrap;
}

form fieldset {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #727272;
  border-radius: .5rem;
  padding: .75rem 2%;
  background-color: #ccebfb ;
  width: 98%;
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form legend {
  color: white;
  background-color: #e69598;
  border: 1px solid #cb2c31;
  border-radius: .2rem;
  padding: 0 .5rem;
  font-size: 1.6rem;
}

form label.top,
form label.top2,
form div {
  display: block;
  padding-top: 1rem;
  color: #727272;
  font-size: 1.2rem;
}

form label.top input,
form label.top2 input,
form label.top textarea,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1.6rem;
  border: .1rem solid #727272;
  border-radius: .4rem;
  color: #727272;
  width: 100%;
  max-width: 28rem;
  background-color: white;
}

form label.top input,
form label.top textarea,
form label.top select {
  padding: .75rem;
}

form label.top2 input,
form label.top select {
  max-width: 28rem;
}

form label.sbs {
  display: block;
  padding: .75rem;
  color: #727272;
}

form input.submitBtn {
  display: block;
  border: none;
  background-color: #cb2c31;
  color: white;
  border-radius: 1rem;
  padding: .75rem;
  margin: 2rem auto 2rem auto;
  width: 96%;
  max-width: 24rem;
  box-shadow: 10px 10px 30px #727272;
}

form label.top input:required {
  border-left:#cb2c31 solid 6px;
}

form label.top input:valid {
  border-left: green solid 6px;
}

/*--------------------form-end------------------------------*/





@media screen and (max-width: 60rem) {
  .grid-gallery {
    grid-template-columns: repeat(2, .75fr);
  }
}

  
  @media screen and (max-width: 48rem) {
    ul.topnav li.right, ul.topnav li {
      float: none;
    }
    ul.topnav li a {
      font-size: 1.6em;
    }
    .grid-gallery {
      grid-template-columns: repeat(1, .75fr);
    }
  }

 