body {
  background-color: #d0db97;
}

header {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background-color: #3a7d44;
  border: 1px solid #bbb;
  text-align: center;
}

header img,
.motto {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #254d32;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.24em;
  line-height: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
}

p {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  margin: 0.24em;
}

nav {
  margin: 1rem auto;
  background-color: #69b578;
}

/*--------------------form------------------------------*/

form fieldset {
  display: block;
  border: 1px solid #3a7d44;
  border-radius: 10px;
  padding: .75rem 2%;
  background-image: radial-gradient(circle, #d0db97, #b8d28c, #a0c884, #85bf7d, #69b578);
  width: 98%;
  max-width: 24rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

form legend {
  color: #d0db97;
  background-color: #3a7d44;
  border: 1px solid #3a7d44;
  border-radius: 4px;
  padding: 0 .5rem;
}

form label.top,
form label.top2,
form div {
  display: block;
  padding-top: 1rem;
  color: #3a7d44;
  font-size: .75rem;
}

form label.top input,
form label.top2 input,
form label.top textarea,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #3a7d44;
  border-radius: 4px;
  color: #3a7d44;
  width: 100%;
  max-width: 20rem;
  background-color: #F2F5E2;
}

form label.top input,
form label.top textarea,
form label.top select {
  padding: .75rem;
}

form label.top2 input,
form label.top select {
  max-width: 21.5rem;
}

/*This is for the slider */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 44px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 45px;
  height: 45px;
  background: #4CAF50;
  cursor: pointer;
}

/*End slider */

form label.sbs {
  display: block;
  padding: .75rem;
  color: #3a7d44;
}

form input.submitBtn {
  display: block;
  border: none;
  background-color: #3a7d44;
  color: white;
  border-radius: 1rem;
  padding: .75rem;
  margin: 2rem auto 2rem auto;
  width: 96%;
  max-width: 24rem;
  box-shadow: 10px 10px 30px grey;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:valid {
  border-left: green solid 6px;
}

/*--------------------form-end------------------------------*/

#thanks h1,
h2 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navigation li {
  display: none;
}

.navigation li:first-child {
  display: block;
}

.navigation li a {
  display: block;
  color: #d0db97;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
}

.navigation li a:hover {
  color: #000;
  background-color: #254d32;
}

.scrolling-wrapper {
  display: flex;
    overflow-x:auto;
    overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper 
 div {
  margin-right: 15px;
}


.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  width: 320px;
  min-width: 320px;
  height: 315px;
  border: 1px solid #3a7d44;
  background-image: radial-gradient(circle, #d0db97, #b8d28c, #a0c884, #85bf7d, #69b578);
}

.scrolling-wrapper h3 {
  font-style: italic;
  font-size: 1em;
  font-weight: normal;
}

@media (max-width: 599px) {
  .navigation li:first-child {
    display: block;
  }

  .navigation li {
    display: none;
    margin-right: 1rem;
  }

  .forecast {
    display: none;
  }
}

.responsive li {
  display: block;
}

.selected {
  background-color: #3a7d44;
  border: .5px solid #254d32;
}

.selected a {
  color: #254d32;
}

.herodiv {
  margin: 10px auto;
}

.herodiv img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.weathersummary {
  text-align: center;
  border: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0 0 30px #fff;
  background: radial-gradient(#eee, #69b578);
}

.weathervalue {
  color: #254d32ed;
}

.grid-container {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #254d32ed;
  padding: 10px;
}

.grid-item {
  background-color: #69b578;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-gallery {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(1, .75fr);
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: #3a7d44;
  padding: 1rem;
}

.grid-item-gallery {
  background-color: #69b578;
  border: 1px solid black;
  padding: 0;
  font-size: 30px;
  text-align: center;
}

.grid-item-gallery img {
  margin: .25rem;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.grid-item-gallery:hover {
  box-shadow: 0 0 50px #254d32ed;
}

figcaption {
  font-size: smaller;
}

#article-row,
#contact-row {
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px 15px;
  margin: 20px;
  align-items: center;
  background-color: #3a7d44;
}

#contact-row img {
  max-width: 75%;
  height: auto;
  vertical-align: center;
  margin: 10px;
}

.forecast {
  text-align: center;
}

.rightColumn,
.leftColumn {
  width: 48%;
  padding: .5em;
  flex: 1 0 15em;
  margin: .5em;
}

.footerRightColumn {
  width: 48%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: .5em;
}

.footerRightColumn * {
  padding: 5px;
}

.footerLeftColumn {
  width: 48%;
  display: inline-block;
  text-align: left;
  margin: .5em;
}